    {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <CENTER>
        <h1><strong>Ismail Al Ghani</strong></h1>
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA3jAAAAJDRhNzdiZWY3LWNmNDYtNGRhNC04Y2YyLTkzMjQ3Njk5MGVjMg.jpg"
        class="img-circle"
        .img-circle{
        border-radius:60%
        style="height:200px"
        }
        />
    </CENTER>
    <hr/>
    <section name="bio">
        <h2><center>Bio</center></h2>
        <center>
        <h3>
            {{content}}
        </h3>   
        </center> 
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
     <section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

    {% endblock %}
